/* Need to find out how to merge the text-right class  */
/* To additional classes */
.acctInfoField {
    font-size: 1.5rem ;
    margin: .5rem;
}

.acctInfoData {
    font-size: 1.5rem ;
    /* text-align: right; */
}
.accountDiv {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
}
.pageTitle {
    font-size: 2rem;
                      position: absolute;
                      left: 50%;
                      top: -10%;
                      transform: translate(-50%,-50%);

}
.acctCard {
    width: 40rem;
    background-color: white;
}