.calendar-div {
    background-color: rgba(255,255,255, 0.9);
    padding: 1em;
    border: 0.25em solid darkgray;
}

.event-div {
    background-color: rgba(255,255,255, 0.9);
    padding: 1em;
}

.event-title {
    font-size: large;
    font-weight: bolder;
}
