.register-wrapper {
    background-color: gray;
    padding: 20px;
    border-radius: 5px;
    margin-top: 100px;
    margin-left: 100px;
}

.register-wrapper:hover {
    border-style: outset;
    border-color: darkgray;
    border-width: 1px;
    box-shadow: 2px 2px 2px;
}

.register-form {
    position: relative;
    border-radius: 5px;
    background-color: lightgray; 
    padding: 30px;
}

.register-box {
    padding-left: 80px;
    padding-top: 80px;
}

.register-button {
    position: absolute;
    right: 30px;
    bottom: 10px;
}

.register-form-wrapper {
    background-color: gray;
    margin-left: 70px;
    margin-right: 10px;
    padding-left: 60px;
}

#regstrTypeButtons {
    margin-left: auto;
    margin-right: auto;
}

/* Css for the SelectSearch menu */
.select-search {
    /* width: 300px; */
    /* position: relative; */
    margin: 0%;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

.select-search *,
.select-search *::after,
.select-search *::before {
    box-sizing: inherit;
}

/* Value wrapper */
.select-search__value {
    position: relative;
    z-index: 1;
}

.select-search__value::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: calc(50% - 9px);
    /* right: 19px; */
    /* width: 11px;
    height: 11px; */
}

/* Input */
.select-search__input {
    display: block;
    height: 36px;
    width: 100%;
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;

    /* width: 100%; */
    /* padding: 0 16px; */
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    outline: none;
    margin-right: 0px;
    font-family: 'Noto Sans', sans-serif;
    padding-left: .625rem;
    /* font-size: 14px; */
    /* text-align: left; */
    
    text-overflow: ellipsis;
    line-height: 36px;
    -webkit-appearance: none;
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
    -webkit-appearance:none;
}

.select-search__input:not([readonly]):focus {
    cursor: initial;
}

/* Options wrapper */
.select-search__select {
    padding: 0%;
    /* background: #fff; */
    box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15);
}

/* Options */
.select-search__options {
    /* Uncomment below to remove stretch issue */
    /* position: absolute; */
    /* z-index: 1; */
    overflow: auto;
    padding: 0%;
    list-style: none;
}

/* Option row */
.select-search__row:not(:first-child) {
    border-top: 1px solid #bbb;
}

/* Option */
.select-search__option,
.select-search__not-found {
    display: block;
    height: 36px;
    width: 100%;
    padding: 0 16px;
    background: #fff;
    border: none;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
}

.select-search--multiple .select-search__option {
    height: 48px;
}

.select-search__option.is-selected {
    background: blue;
    color: #fff;
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
    background: rgba(50, 47, 204, 0.1);
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
    background: rgba(50, 47, 204, 0.1);
    color: #fff;
}
/**
 * Modifiers
 */
 .select-search--multiple {
    border-radius: 3px;
    overflow: auto;
}