.register-wrapper {
    background-color: gray;
    padding: 20px;
    margin-top: 100px;
    margin-left: 100px;
}

.register-form {
    position: relative;
    background-color: lightgray; 
    padding: 30px;
}

.register-box {
    padding-left: 80px;
    padding-top: px;
}

.register-button {
    position: absolute;
    right: 30px;
    bottom: 10px;
}

.register-form-wrapper {
    background-color: gray;
    margin-left: 70px;
    margin-right: 10px;
    padding-left: 60px;
}