.opaque-div {
    background-color: rgba(255,255,255, 0.9);
    padding: 1em;
    margin-top: 5px;
    max-height: 15em;
    overflow-y: auto;
}

.div-title {
    font-size: 1.5em;
    font-weight: bold;
}