.groupThumbnailImage {
    /* overflow : hidden; */
    max-width: 7.5rem;
    /* max-height: 10%; */
    /* overflow: "hidden",
    position: "absolute",
    zIndex: 1, */
}

.modalImage {
    /* overflow : hidden; */
    max-width: 40rem;
    max-height: 10%;
}