.thumbnailImage {
    /* overflow : hidden; */

    /* max-width: 27.5rem; */
    max-width: 100%;
    padding: 1rem;
    padding-right: 0%;

    /* max-height: 10%; */
    /* overflow: "hidden",
    position: "absolute",
    zIndex: 1, */
}
.rsoCard{
     margin-left: 5%; 
     /* padding-right: 15%; */
     width: 80%;
     
     /* align-self: center; */
}
.rsoCard2{
    width: 97.5%;
    border: none;  /*Border active for styling debug   */

    
}
.rsoTitle{
    width: 100%;
    font-size: 2rem;
    align-items: center;

}

.upComingETitle{
    font-size: 2rem;
    text-decoration: underline;
}
.tableNumCol {
    width: 1rem;
}
.tableCol {
    /* width: 23.5rem; */
    width: 100%;
    text-align: center;
}
.modalFooter {
    padding: 0; 
    border: none;
}
.editCol {
    /* align-items: center;
    text-align: center;
  justify-items: center; */
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}
.centerText{
    text-align: center;
    align-items: center;
    justify-items: center;

}
/* .modal1 { */
    /* width: 12%; */
/* } */
.contactInfo {
    align-items: center;
    text-align: center;
  justify-items: center;
}
/* .rsoInfo */

