.post-a-comment {
    font-size: 1.3rem;
    margin-top: .5rem;
    margin-left: .5rem;
}

.comment-length {
    margin-right: 0.5rem;
}

.eventCard {
    width: 100%;
    margin-left: 10%;
    text-align: center;
}
.eventTitle {
    font-size: 3rem;
    text-align: center;
}
.eventRso {
    font-size: 2rem;
    margin-bottom:0rem;
}
.eventInfo {
    font-size: 1rem;
    margin: .5rem;
}
.cardComment {
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 10%;
    /* max-width: 50%; */
}
.cardCommentTitle {
    margin-left: 1rem;
    margin-top: .5rem;
    font-size: 1rem;
    text-align: start;
    text-decoration-line: underline;
}
.cardCommentBody {
    padding-top: 0rem;
    text-align: start;
    /* background-color: rgba(160,160,160, .1); */
}
.cardCommentFooter {
    text-align: right;
    font-size: .8rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
}
.makeCommentInput {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.no-comments {
    text-align: center;
}